@model Entites.Concrete.TransportService
@{
    ViewData["Title"] = "TransportServiceUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hizmet Güncelle</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post">
                @Html.HiddenFor(x => x.TransportServiceId)
                <div class="form-group mb-3">
                    @Html.Label("Başlık")
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input type="text" asp-for="Title" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    @Html.Label("Açıklama")
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <input type="text" asp-for="Description" class="form-control" />
                </div>
                <button class="btn btn-outline-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>
